/* File wajib sesuai struktur code  */
.todo-card {
    transition: transform 0.2s ease;
}

.todo-card:hover {
    transform: translateY(-2px);
}

/* Garis coret untuk tugas selesai */
.done-text {
    text-decoration: line-through;
    opacity: 0.5;
}